body {
  background-color: white;
}
h1 {
  color: black;
}
p {
  color: blue;
}
div {

  margin: auto;
  width: 40%;
  border: none;
  padding: 10px;
  position:  middle;
}
h4 {
  text-decoration: underline;
}